.brand {
  background: none !important;
  color: unset;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 !important;
  margin: 0 !important;
  width: 100% !important;
}

.code-lang {
  font-size: 1em;
}

.posts-collapse .post-content::before {
  background: #33ac60;
}

.posts-collapse .post-content .post-header {
  border-bottom: none;
}

.collection-title,
.collection-year {
  display: none;
}

.pagination {
  border-top: 1px solid #33ac60;
}

.pagination .prev,
.pagination .next,
.pagination .page-number {
  border-top: none;
  color: #33ac60;
}

.pagination .page-number.current {
  background-color: #33ac60;
  color: #fff;
}
